<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}


.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 40px ;
  font-size: 20px;
}
.avatar_img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  max-width: 6.875rem;
  max-height: 6.975rem;
  border:0;
}
img{
  border:0;

}
</style>

<h1>grid-template-columns</h1>

<p>You can use the <em>grid-template-columns</em> property to specify the number of columns in your grid layout.</p>

<div class="grid-container">
  <div class="box-size">
    <img class="avatar_img" src="https://cf.shopee.co.th/file/3c2a9bc79c1612a297e12f2af224130b_tn" alt="" ><br>
    <a href="#">ติดต่อ</a></div>
  <div class="box-size">
    <img class="avatar_img" src="https://cf.shopee.co.th/file/3c2a9bc79c1612a297e12f2af224130b_tn" alt=""><br>
    <a href="#">ติดต่อ</a></div>
  <div class="box-size">
    <img class="avatar_img" src="https://cf.shopee.co.th/file/3c2a9bc79c1612a297e12f2af224130b_tn" alt=""><br>
    <a href="#">ติดต่อ</a></div>
  <div class="box-size">
    <img class="avatar_img" src="https://cf.shopee.co.th/file/3c2a9bc79c1612a297e12f2af224130b_tn" alt=""><br>
    <a href="#">ติดต่อ</a></div>
  <div class="box-size">
    <img class="avatar_img" src="https://cf.shopee.co.th/file/3c2a9bc79c1612a297e12f2af224130b_tn" alt=""><br>
    <a href="#">ติดต่อ</a></div>
  <div class="box-size">
    <img class="avatar_img" src="https://cf.shopee.co.th/file/3c2a9bc79c1612a297e12f2af224130b_tn" alt=""><br>
    <a href="#">ติดต่อ</a></div>
  <div>
    <img src="C:\MAMP\htdocs\INSTemplate\public\images\logo.png" alt=""><br>
    <a href="#">ติดต่อ</a></div>
  <div>
    <img src="C:\MAMP\htdocs\INSTemplate\public\images\logo.png" alt=""><br>
    <a href="#">ติดต่อ</a></div> 
    <!----<div><img src="C:\MAMP\htdocs\INSTemplate\public\images\logo.png" alt=""></div>
    <div><img src="C:\MAMP\htdocs\INSTemplate\public\images\logo.png" alt=""></div>
    <div><img src="C:\MAMP\htdocs\INSTemplate\public\images\logo.png" alt=""></div>
    <div><img src="C:\MAMP\htdocs\INSTemplate\public\images\logo.png" alt=""></div>
    <div><img src="C:\MAMP\htdocs\INSTemplate\public\images\logo.png" alt=""></div>
    <div><img src="C:\MAMP\htdocs\INSTemplate\public\images\logo.png" alt=""></div>
    <div><img src="C:\MAMP\htdocs\INSTemplate\public\images\logo.png" alt=""></div>
    <div><img src="C:\MAMP\htdocs\INSTemplate\public\images\logo.png" alt=""></div>
    -->
</div>