<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 40px ;
  font-size: 20px;
}
</style>

<h1>grid-template-columns</h1>

<p>You can use the <em>grid-template-columns</em> property to specify the number of columns in your grid layout.</p>

<div class="grid-container">
  <div><img src="C:\MAMP\htdocs\INSTemplate\public\images\logo.png" alt=""><br><a href="#">ติดต่อ</a></div>
  <div><img src="C:\MAMP\htdocs\INSTemplate\public\images\logo.png" alt=""><br><a href="#">ติดต่อ</a></div>
  <div><img src="C:\MAMP\htdocs\INSTemplate\public\images\logo.png" alt=""><br><a href="#">ติดต่อ</a></div>
  <div><img src="C:\MAMP\htdocs\INSTemplate\public\images\logo.png" alt=""><br><a href="#">ติดต่อ</a></div>
  <div><img src="C:\MAMP\htdocs\INSTemplate\public\images\logo.png" alt=""><br><a href="#">ติดต่อ</a></div>
  <div><img src="C:\MAMP\htdocs\INSTemplate\public\images\logo.png" alt=""><br><a href="#">ติดต่อ</a></div>
  <div><img src="C:\MAMP\htdocs\INSTemplate\public\images\logo.png" alt=""><br><a href="#">ติดต่อ</a></div>
  <div><img src="C:\MAMP\htdocs\INSTemplate\public\images\logo.png" alt=""><br><a href="#">ติดต่อ</a></div> 
    <!----<div><img src="C:\MAMP\htdocs\INSTemplate\public\images\logo.png" alt=""></div>
    <div><img src="C:\MAMP\htdocs\INSTemplate\public\images\logo.png" alt=""></div>
    <div><img src="C:\MAMP\htdocs\INSTemplate\public\images\logo.png" alt=""></div>
    <div><img src="C:\MAMP\htdocs\INSTemplate\public\images\logo.png" alt=""></div>
    <div><img src="C:\MAMP\htdocs\INSTemplate\public\images\logo.png" alt=""></div>
    <div><img src="C:\MAMP\htdocs\INSTemplate\public\images\logo.png" alt=""></div>
    <div><img src="C:\MAMP\htdocs\INSTemplate\public\images\logo.png" alt=""></div>
    <div><img src="C:\MAMP\htdocs\INSTemplate\public\images\logo.png" alt=""></div>
    -->
</div>